
@{
    ViewBag.Title = "Member";
}
<!DOCTYPE html>
<html lang="en">
<body>
    <div class="block-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="tab-movies-line">
                        <div class="tab-content content-text">
                            <div id="tab_cb53403b-7393-4ead-a1a2-825af0eb30e4" class="active tab-pane">
                                <div class="policy-content">
                                    <p>
                                        <span style="font-size:30px;">
                                            <span style="font-family:Arial,Helvetica,sans-serif;">
                                                <strong>THỂ LỆ</strong>
                                            </span>
                                        </span>
                                    </p>
                                    <p>
                                        <span style="font-size:14px;">
                                            <span style="font-family:Arial,Helvetica,sans-serif;">
                                                Chương trình khách hàng thân thiết Galaxy là chương trình ưu đãi dựa trên điểm tích lũy của các thành viên gồm Star, G-star, X-star. Với mỗi giao dịch tại hệ thống rạp Galaxy,
                                                bạn sẽ nhận được điểm thưởng tương ứng. Hình thức tích lũy như sau:
                                            </span>
                                        </span>
                                    </p>
                                    <p style="margin: 0in 0in 8pt; text-align: center;">
                                        <span style="font-size:14px;">
                                            <span style="font-family:Arial,Helvetica,sans-serif;">
                                                <img alt="" height="189" src="/Images/member1.png" width="600" class="loading" data-was-processed="true">
                                            </span>
                                        </span>
                                    </p>
                                    <p>
                                        <span style="font-size:14px;">
                                            <span style="font-family:Arial,Helvetica,sans-serif;">
                                                <strong>&nbsp; Star:</strong>
                                                Tích lũy ở mức 3% trên tổng giá trị/số tiền giao dịch&nbsp;
                                                <br />
                                                &nbsp;
                                                <strong>G-Star:</strong>  Tích lũy ở mức 5% trên tổng giá trị/số tiền giao dịch
                                                <br />
                                                &nbsp;
                                                <strong>X-Star: </strong> Tích lũy ở mức 10% trên tổng giá trị/số tiền giao dịch
                                                <br />
                                                Điểm tích lũy được gọi là Stars
                                            </span>
                                        </span>
                                    </p>
                                    <p>
                                        <span style="font-size:14px;">
                                            <span style="font-family:Arial,Helvetica,sans-serif;">
                                                Ví dụ: Khách hàng là thành viên hạng Star, khi phát sinh giao dịch 200.000 đồng, được tích điểm ở mức 3% tương đương 6 Stars (6 Điểm)
                                                <br />
                                                Cách làm tròn điểm thưởng như sau:&nbsp;
                                            </span>
                                        </span>
                                    </p>
                                    <p>
                                        <span style="font-size:14px;">
                                            <span style="font-family:Arial,Helvetica,sans-serif;">
                                                -&nbsp;&nbsp; &nbsp;Từ 0.1 đến 0.4: làm tròn xuống (Ví dụ: 3.2 điểm sẽ được tích vào tài khoản 3 điểm)
                                                <br />
                                                -&nbsp;&nbsp; &nbsp;Từ 0.5 đến 0.9: làm tròn lên (Ví dụ: 3.5 điểm sẽ được tích vào tài khoản 4 điểm)
                                                <br />
                                                1 điểm tích lũy sẽ được quy đổi thành 1.000 đồng và được sử dụng cho việc thanh toán vé/bắp nước tại hệ thống Galaxy Cinema. Điểm tích lũy không có giá trị quy đổi thành tiền mặt hoặc hoàn lại khi giao dịch đã được ghi nhận thành công.
                                            </span>
                                        </span>
                                    </p>
                                    <p style="margin: 0in 0in 8pt;">
                                        <span style="font-size:14px;">
                                            <span style="font-family:Arial,Helvetica,sans-serif;">
                                                <strong>Cấp độ thành viên</strong> :
                                            </span>
                                        </span>
                                    </p>
                                    <p style="text-align: center;">
                                        <span style="font-size:14px;">
                                            <span style="font-family:Arial,Helvetica,sans-serif;">
                                                <img alt="" height="201" src="/Images/member2.png" width="600" class="loading" data-was-processed="true">
                                            </span>
                                        </span>
                                    </p>
                                    <p>
                                        <span style="font-size:14px;">
                                            <span style="font-family:Arial,Helvetica,sans-serif;">
                                                <strong>Star </strong>
                                                là thành viên thân thiết có tổng chi tiêu trong năm dưới 2,000,000 đồng tính từ ngày 1/1-31/12.
                                            </span>
                                        </span>
                                    </p>
                                    <p>
                                        <span style="font-size:14px;">
                                            <span style="font-family:Arial,Helvetica,sans-serif;">
                                                <strong>G-star</strong>
                                                là thành viên thân thiết có tổng chi tiêu trong năm từ 2,000,000 đồng đến 3,999,999 đồng tính từ ngày 1/1-31/12.
                                            </span>
                                        </span>
                                    </p>
                                    <p>
                                        <span style="font-size:14px;">
                                            <span style="font-family:Arial,Helvetica,sans-serif;">
                                                <strong>X-star</strong>
                                                là thành viên thân thiết có tổng chi tiêu từ 4,000,000 đồng trở lên tính từ ngày 1/1-31/12.
                                            </span>
                                        </span>
                                    </p>
                                    <p>
                                        <span style="font-size:14px;">
                                            <span style="font-family:Arial,Helvetica,sans-serif;">
                                                <strong>Lưu ý:</strong>
                                            </span>
                                        </span>
                                    </p>
                                    <ul>
                                        <li style="margin:0in 0in 0.0001pt 0.5in">
                                            <span style="font-size:14px;">
                                                <span style="font-family:Arial,Helvetica,sans-serif;">
                                                    <span style="line-height:107%">
                                                        <span style="line-height:107%">
                                                            Thông tin định danh thành viên gồm có email và số điện thoại bắt buộc phải hợp lệ.
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </li>
                                        <li style="margin:0in 0in 0.0001pt 0.5in">
                                            <span style="font-size:14px;">
                                                <span style="font-family:Arial,Helvetica,sans-serif;">
                                                    <span style="line-height:107%">
                                                        <span style="line-height:107%">
                                                            <strong>Email không hợp lệ </strong>
                                                            là email không có thực tại thời điểm
                                                            <b>Galaxy Cinema</b>
                                                            rà soát dữ liệu thành viên.
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </li>
                                        <li style="margin:0in 0in 0.0001pt 0.5in">
                                            <span style="font-size:14px;">
                                                <span style="font-family:Arial,Helvetica,sans-serif;">
                                                    <span style="line-height:107%">
                                                        <span style="line-height:107%">
                                                            <strong>Số điện thoại không hợp lệ </strong>
                                                            là số điện thoại không liên lạc được hoặc số điện thoại không thuộc sở hữu của chủ tài khoản thành viên ở thời điểm Galaxy Cinema rà soát dữ liệu thành viên.
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </li>
                                        <li style="margin:0in 0in 0.0001pt 0.5in">
                                            <span style="font-size:14px;">
                                                <span style="font-family:Arial,Helvetica,sans-serif;">
                                                    <span style="line-height:107%">
                                                        <span style="line-height:107%">
                                                            Với các trường hợp không hợp lệ, Galaxy Cinema có quyền xóa tài khoản thành viên mà không cần thông báo trước.
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </li>
                                        <li style="margin:0in 0in 0.0001pt 0.5in">
                                            <span style="font-size:14px;">
                                                <span style="font-family:Arial,Helvetica,sans-serif;">
                                                    <span style="line-height:107%">
                                                        <span style="line-height:107%">
                                                            Tài khoản thành viên không có đủ thông tin định danh gồm
                                                            <strong>email </strong> và
                                                            <strong>số điện thoại hợp lệ</strong> ,
                                                            <strong>Galaxy Cinema </strong> có quyền xóa tài khoản thành viên mà không cần thông báo trước.
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </li>
                                        <li style="margin:0in 0in 0.0001pt 0.5in">
                                            <span style="font-size:14px;">
                                                <span style="font-family:Arial,Helvetica,sans-serif;">
                                                    <span style="line-height:107%">
                                                        <span style="line-height:107%">
                                                            Điểm tích lũy có giá trị áp dụng tại tất cả các rạp Galaxy Cinema trên toàn quốc.
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </li>
                                        <li style="margin:0in 0in 0.0001pt 0.5in">
                                            <span style="font-size:14px;">
                                                <span style="font-family:Arial,Helvetica,sans-serif;">
                                                    <span style="line-height:107%">
                                                        <span style="line-height:107%">
                                                            Điểm tích lũy có thời hạn sử dụng là 01 năm
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </li>
                                        <li style="margin:0in 0in 0.0001pt 0.5in">
                                            <span style="font-size:14px;">
                                                <span style="font-family:Arial,Helvetica,sans-serif;">
                                                    <span style="line-height:107%">
                                                        <span style="line-height:107%">
                                                            Bạn có thể dễ dàng kiểm tra điểm tích lũy của mình trên Website Galaxy Cinema hoặc Ứng dụng GLX trên điện thoại (Mobile App).
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </li>
                                    </ul>
                                    <p>&nbsp;</p>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div id="getBuyTicket" class="hidden-xs">
                        <div ng-controller="quickBuyTicket" class="tabs-buyticket ng-scope">
                            <div class="label-tab-buyticket">mua vé nhanh</div>
                            <div class="content-movie btn-box-select-ticket">
                                <form class="ng-pristine ng-valid">
                                    <galaxy-select ng-model="byMovie" class="ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty">
                                        <a class="btn btn-select btn-select-light">
                                            <span class="btn-select-value ng-binding">Chọn phim</span>
                                            <span class="btn-select-arrow fa fa-angle-down"></span>
                                            <select ng-change="onChange()" ng-model="curentIndex" class="ng-pristine ng-untouched ng-valid ng-not-empty" fdprocessedid="cxdy79">
                                                <option value="? number:-1 ?" selected="selected"></option>
                                                <option ng-repeat="item in items" ng-selected="item[model.keyValue] == model.currentValue" ng-value="0" class="ng-binding ng-scope" value="number:0">
                                                    Con Nhót Mót Chồng
                                                </option>
                                                <option ng-repeat="item in items" ng-selected="item[model.keyValue] == model.currentValue" ng-value="1" class="ng-binding ng-scope" value="number:1">
                                                    Lật Mặt 6: Tấm Vé Định Mệnh
                                                </option>
                                                <option ng-repeat="item in items" ng-selected="item[model.keyValue] == model.currentValue" ng-value="2" class="ng-binding ng-scope" value="number:2">
                                                    Guardians Of The Galaxy Vol.3
                                                </option>
                                                <option ng-repeat="item in items" ng-selected="item[model.keyValue] == model.currentValue" ng-value="3" class="ng-binding ng-scope" value="number:3">
                                                    Fireheart
                                                </option>
                                                <option ng-repeat="item in items" ng-selected="item[model.keyValue] == model.currentValue" ng-value="4" class="ng-binding ng-scope" value="number:4">
                                                    Tid Noy
                                                </option>
                                                <option ng-repeat="item in items" ng-selected="item[model.keyValue] == model.currentValue" ng-value="5" class="ng-binding ng-scope" value="number:5">
                                                    Inhuman Kiss 2
                                                </option>
                                                <option ng-repeat="item in items" ng-selected="item[model.keyValue] == model.currentValue" ng-value="6" class="ng-binding ng-scope" value="number:6">
                                                    Cats In The Museum
                                                </option>
                                                <option ng-repeat="item in items" ng-selected="item[model.keyValue] == model.currentValue" ng-value="7" class="ng-binding ng-scope" value="number:7">
                                                    The Super Mario Bros. Movie
                                                </option>
                                            </select>
                                        </a>
                                    </galaxy-select>
                                    <galaxy-select ng-model="cinemaConfig" class="ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty">
                                        <a class="btn btn-select btn-select-light">
                                            <span class="btn-select-value ng-binding">Chọn rạp</span>
                                            <span class="btn-select-arrow fa fa-angle-down"></span>
                                            <select ng-change="onChange()" ng-model="curentIndex" class="ng-pristine ng-untouched ng-valid ng-not-empty" fdprocessedid="fuwao">
                                                <option value="? number:-1 ?" selected="selected"></option>
                                                <option ng-repeat="item in items" ng-selected="item[model.keyValue] == model.currentValue" ng-value="0" class="ng-binding ng-scope" value="number:0">
                                                    Galaxy Nguyễn Du
                                                </option>
                                                <option ng-repeat="item in items" ng-selected="item[model.keyValue] == model.currentValue" ng-value="1" class="ng-binding ng-scope" value="number:1">
                                                    Galaxy Tân Bình
                                                </option>
                                                <option ng-repeat="item in items" ng-selected="item[model.keyValue] == model.currentValue" ng-value="2" class="ng-binding ng-scope" value="number:2">
                                                    Galaxy Kinh Dương Vương
                                                </option>
                                                <option ng-repeat="item in items" ng-selected="item[model.keyValue] == model.currentValue" ng-value="3" class="ng-binding ng-scope" value="number:3">
                                                    Galaxy Quang Trung
                                                </option>
                                                <option ng-repeat="item in items" ng-selected="item[model.keyValue] == model.currentValue" ng-value="4" class="ng-binding ng-scope" value="number:4">
                                                    Galaxy Bến Tre
                                                </option>
                                                <option ng-repeat="item in items" ng-selected="item[model.keyValue] == model.currentValue" ng-value="5" class="ng-binding ng-scope" value="number:5">
                                                    Galaxy Mipec Long Biên
                                                </option>
                                                <option ng-repeat="item in items" ng-selected="item[model.keyValue] == model.currentValue" ng-value="6" class="ng-binding ng-scope" value="number:6">
                                                    Galaxy Đà Nẵng
                                                </option>
                                                <option ng-repeat="item in items" ng-selected="item[model.keyValue] == model.currentValue" ng-value="7" class="ng-binding ng-scope" value="number:7">
                                                    Galaxy Cà Mau
                                                </option>
                                                <option ng-repeat="item in items" ng-selected="item[model.keyValue] == model.currentValue" ng-value="8" class="ng-binding ng-scope" value="number:8">
                                                    Galaxy Trung Chánh
                                                </option>
                                            </select>
                                        </a>
                                    </galaxy-select>
                                    <galaxy-select ng-model="dateConfig" class="ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty">
                                        <a class="btn btn-select btn-select-light">
                                            <span class="btn-select-value ng-binding">Chọn ngày</span>
                                            <span class="btn-select-arrow fa fa-angle-down"></span>
                                            <select ng-change="onChange()" ng-model="curentIndex" class="ng-pristine ng-untouched ng-valid ng-not-empty" fdprocessedid="8n6qhn">
                                                <option value="? number:-1 ?" selected="selected"></option>
                                                <option ng-repeat="item in items" ng-selected="item[model.keyValue] == model.currentValue" ng-value="0" class="ng-binding ng-scope" value="number:0">
                                                    Thứ bảy, 06/05/2023
                                                </option>
                                                <option ng-repeat="item in items" ng-selected="item[model.keyValue] == model.currentValue" ng-value="1" class="ng-binding ng-scope" value="number:1">
                                                    Chủ nhật, 07/05/2023
                                                </option>
                                                <option ng-repeat="item in items" ng-selected="item[model.keyValue] == model.currentValue" ng-value="2" class="ng-binding ng-scope" value="number:2">
                                                    Thứ hai, 08/05/2023
                                                </option>
                                                <option ng-repeat="item in items" ng-selected="item[model.keyValue] == model.currentValue" ng-value="3" class="ng-binding ng-scope" value="number:3">
                                                    Thứ ba, 09/05/2023
                                                </option>
                                            </select>
                                        </a>
                                    </galaxy-select>
                                    <galaxy-select ng-model="sessionConfig" class="ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty">
                                        <a class="btn btn-select btn-select-light">
                                            <span class="btn-select-value ng-binding">Chọn suất</span>
                                            <span class="btn-select-arrow fa fa-angle-down"></span>
                                            <select ng-change="onChange()" ng-model="curentIndex" class="ng-pristine ng-untouched ng-valid ng-not-empty" fdprocessedid="3bkmu7">
                                                <option value="? number:-1 ?" selected="selected"></option>
                                                <option ng-repeat="item in items" ng-selected="item[model.keyValue] == model.currentValue" ng-value="0" class="ng-binding ng-scope" value="number:0">
                                                    12:30, 2D - Phụ đề
                                                </option>
                                                <option ng-repeat="item in items" ng-selected="item[model.keyValue] == model.currentValue" ng-value="1" class="ng-binding ng-scope" value="number:1">
                                                    16:15, 2D - Phụ đề
                                                </option>
                                                <option ng-repeat="item in items" ng-selected="item[model.keyValue] == model.currentValue" ng-value="2" class="ng-binding ng-scope" value="number:2">
                                                    20:00, 2D - Phụ đề
                                                </option>
                                                <option ng-repeat="item in items" ng-selected="item[model.keyValue] == model.currentValue" ng-value="3" class="ng-binding ng-scope" value="number:3">
                                                    22:15, 2D - Phụ đề
                                                </option>
                                            </select>
                                        </a>
                                    </galaxy-select>
                                    <div id="movieSidebar" class="hidden-xs">
                                        <h3>Phim đang chiếu</h3>
                                        <div class="row movies-group">
                                            <div class="col-md-13 col-sm-12 col-xs-12 movie-item">
                                                <div class="article-movie-home">
                                                    <img src="/Images/d1.jpg" class="loading" data-was-processed="true" />
                                                    <a href="#">
                                                        <div class="decription-hover overlay">
                                                            <div class="movies-content">
                                                                <div class="group">
                                                                    <div class="btn secondary-white">mua vé</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-13 col-sm-12 col-xs-12 movie-item">
                                                <div class="article-movie-home">
                                                    <img src="/Images/d2.jpg" class="loading" data-was-processed="true" />
                                                    <a href="#">
                                                        <div class="decription-hover overlay">
                                                            <div class="movies-content">
                                                                <div class="group">
                                                                    <div class="btn secondary-white">mua vé</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-13 col-sm-12 col-xs-12 movie-item">
                                                <div class="article-movie-home">
                                                    <img src="/Images/d3.jpg" class="loading" data-was-processed="true" />
                                                    <a href="#">
                                                        <div class="decription-hover overlay">
                                                            <div class="movies-content">
                                                                <div class="group">
                                                                    <div class="btn secondary-white">mua vé</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                                                <a href=@Url.Action("PhimChieu", "Product") class="btn secondary fl-right">XEM THÊM</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
