
@{
    ViewBag.Title = "Index";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>DataTables</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">DataTables</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">DataTable with minimal features & hover style</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Số điện thoại</th>
                                    <th>Tên khách hàng</th>
                                    <th>Giới tính</th>
                                    <th>Địa chỉ</th>
                                    <th>Số lần mua </th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        0913123112
                                    </td>
                                    <td>Trần Thanh Bình</td>
                                    <td> Nam</td>
                                    <td>112 Lê Thánh Tôn, Q.10, TP.HCM</td>
                                    <td> 23</td>
                                    <td>thanhbinh@gmail.com</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        0908242526
                                    </td>
                                    <td>Nguyễn Trần Thúy Lan</td>
                                    <td>Nam</td>
                                    <td>1071 Cách mạng Thánh Tám, Q.3, TP.HCM</td>
                                    <td>42</td>
                                    <td>ctylàn@gmail.com</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        0908242526
                                    </td>
                                    <td>Nguyễn Trần Thúy Lan</td>
                                    <td>Nam</td>
                                    <td>1071 Cách mạng Thánh Tám, Q.3, TP.HCM</td>
                                    <td>42</td>
                                    <td>ctylàn@gmail.com</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        0908242526
                                    </td>
                                    <td>Nguyễn Trần Thúy Lan</td>
                                    <td>Nam</td>
                                    <td>1071 Cách mạng Tháng Tám, Q.3, TP.HCM</td>
                                    <td>42</td>
                                    <td>ctylan12@gmail.com</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>0908242526</td>
                                    <td>Ngô Minh Tùng</td>
                                    <td>Nam</td>
                                    <td>501  Điện Biên Phủ, Q.3, TP.HCM</td>
                                    <td>9</td>
                                    <td>minhtung1280@gmail.com</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>0908242526</td>
                                    <td>Phạm Tuấn Minh</td>
                                    <td>Nam</td>
                                    <td>501  Điện Biên Phủ, Q.3, TP.HCM</td>
                                    <td>11</td>
                                    <td>tuanminh@gmail.com</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>0908242526</td>
                                    <td>Nguyễn Thanh Minh Nguyệt</td>
                                    <td>Nữ</td>
                                    <td>36 Hậu Giang, Q.6, TP.HCM</td>
                                    <td>58</td>
                                    <td>nguyetminh@gmail.com</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>0908242526</td>
                                    <td>Võ Quang Cường</td>
                                    <td>Nam</td>
                                    <td>171 Kinh Dương Vương, Q.6, TP.HCM</td>
                                    <td>81</td>
                                    <td>quangcuong@gmail.com</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>0908242526</td>
                                    <td>Nguyễn Minh Quang</td>
                                    <td>Nam</td>
                                    <td>171 Kinh Dương Vương, Q.6, TP.HCM</td>
                                    <td>31</td>
                                    <td>minhquang1206@gmail.com</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>0908242526</td>
                                    <td>Hà Minh Thanh</td>
                                    <td>Nam</td>
                                    <td>11 Nguyễn Trãi, Q.5, TP.HCM</td>
                                    <td>7</td>
                                    <td>minhthanh@gmail.com</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>0908242526</td>
                                    <td>Ngô Thanh Mỹ Yến</td>
                                    <td>Nữ</td>
                                    <td>11 Nguyễn Trãi, Q.5, TP.HCM</td>
                                    <td>12</td>
                                    <td>myyen1208@gmail.com</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>0908242526</td>
                                    <td>Đỗ Thị Mỹ Linh</td>
                                    <td>Nữ</td>
                                    <td>127 Trần Hưng Đạo, Q.5, TP.HCM</td>
                                    <td>78</td>
                                    <td>mylinh@yahoo.com</td>
                                </tr>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
