
@{
    Layout = null;
}


<div class="account">
    <div class="container">
        <div class="account-main">
            <div class="col-md-12">
                <h2 style="text-align:center">Đặt vé thành công </h2>
                <p style="text-align:center">Quý khách đã đặt vé thành công. Vui lòng check email mà quý khách đã đăng ký để nhận mã vé.</p>
            </div>
        </div>
    </div>
</div>
