
@{
    ViewData["Title"] = "Index";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Projects</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Projects</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Projects</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th style="width: 1%">
                            STT
                        </th>
                        <th style="width: 10%">
                            Số đơn hàng
                        </th>
                        <th style="width: 15%">
                            Tên khách hàng
                        </th>
                        <th>
                            Ngày giao
                        </th>
                        <th style="width: 30%" class="text-center">
                            Địa chỉ
                        </th>
                        <th style="width: 8%" class="text-center">
                            Thành tiền
                        </th>
                        <th style="width: 25%" class="text-center">
                            Nhóm lệnh
                        </th>
                        <th style="width: 20%">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            20210812017
                        </td>
                        <td>
                            Trần Quốc Tú
                        </td>
                        <td>
                            21/08/2021
                        </td>
                        <td>
                            112 Lê Thánh Tôn, Q.10, TP.HCM
                        </td>
                        <td>
                            54100
                        </td>
                        <td class="project-actions text-right">
                            <a class="btn btn-primary btn-sm" href="#">
                                <i>
                                </i>
                                Kích hoạt
                            </a>
                            <a class="btn btn-info btn-sm" href="#">
                                <i>
                                </i>
                                Chi tiết
                            </a>
                            <a class="btn btn-danger btn-sm" href="#">
                                <i>
                                </i>
                                Hủy Đơn
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2
                        </td>
                        <td>
                            20210812028
                        </td>
                        <td>
                            Nguyễn Minh Quang
                        </td>
                        <td>
                            17/09/2021
                        </td>
                        <td>
                            112 Lê Thánh Tôn, Q.10, TP.HCM
                        </td>
                        <td>
                            75900
                        </td>
                        <td class="project-actions text-right">
                            <a class="btn btn-primary btn-sm" href="#">
                                <i>
                                </i>
                                Kích hoạt
                            </a>
                            <a class="btn btn-info btn-sm" href="#">
                                <i>
                                </i>
                                Chi tiết
                            </a>
                            <a class="btn btn-danger btn-sm" href="#">
                                <i>
                                </i>
                                Hủy Đơn
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            3
                        </td>
                        <td>
                            20210812138
                        </td>
                        <td>
                            Phan Minh Thành
                        </td>
                        <td>
                            17/09/2021
                        </td>
                        <td>
                            112 Lê Thánh Tôn, Q.10, TP.HCM
                        </td>
                        <td>
                            272000
                        </td>
                        <td class="project-actions text-right">
                            <a class="btn btn-primary btn-sm" href="#">
                                <i>
                                </i>
                                Kích hoạt
                            </a>
                            <a class="btn btn-info btn-sm" href="#">
                                <i>
                                </i>
                                Chi tiết
                            </a>
                            <a class="btn btn-danger btn-sm" href="#">
                                <i>
                                </i>
                                Hủy Đơn
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            4
                        </td>
                        <td>
                            20210812139
                        </td>
                        <td>
                            Hà Tuấn Tú
                        </td>
                        <td>
                            17/09/2021
                        </td>
                        <td>
                            112 Lê Thánh Tôn, Q.10, TP.HCM
                        </td>
                        <td>
                            1125000
                        </td>
                        <td class="project-actions text-right">
                            <a class="btn btn-primary btn-sm" href="#">
                                <i>
                                </i>
                                Kích hoạt
                            </a>
                            <a class="btn btn-info btn-sm" href="#">
                                <i>
                                </i>
                                Chi tiết
                            </a>
                            <a class="btn btn-danger btn-sm" href="#">
                                <i>
                                </i>
                                Hủy Đơn
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            5
                        </td>
                        <td>
                            20210812149
                        </td>
                        <td>
                            Trần Hoàng Vũ
                        </td>
                        <td>
                            19/09/2021
                        </td>
                        <td>
                            112 Lê Thánh Tôn, Q.10, TP.HCM
                        </td>
                        <td>
                            541000
                        </td>
                        <td class="project-actions text-right">
                            <a class="btn btn-primary btn-sm" href="#">
                                <i>
                                </i>
                                Kích hoạt
                            </a>
                            <a class="btn btn-info btn-sm" href="#">
                                <i>
                                </i>
                                Chi tiết
                            </a>
                            <a class="btn btn-danger btn-sm" href="#">
                                <i>
                                </i>
                                Hủy Đơn
                            </a>
                        </td>
                    <tr>
                        <td>
                            6
                        </td>
                        <td>
                            20210812147
                        </td>
                        <td>
                            Trần Quốc Tú
                        </td>
                        <td>
                            19/09/2021
                        </td>
                        <td>
                            112 Lê Thánh Tôn, Q.10, TP.HCM
                        </td>
                        <td>
                            778000
                        </td>
                        <td class="project-actions text-right">
                            <a class="btn btn-primary btn-sm" href="#">
                                <i>
                                </i>
                                Kích hoạt
                            </a>
                            <a class="btn btn-info btn-sm" href="#">
                                <i>
                                </i>
                                Chi tiết
                            </a>
                            <a class="btn btn-danger btn-sm" href="#">
                                <i>
                                </i>
                                Hủy Đơn
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            7
                        </td>
                        <td>
                            20210812150
                        </td>
                        <td>
                            Nguyễn Thanh Loan Vy
                        </td>
                        <td>
                            22/09/2021
                        </td>
                        <td>
                            112 Lê Thánh Tôn, Q.10, TP.HCM
                        </td>
                        <td>
                            1450000
                        </td>
                        <td class="project-actions text-right">
                            <a class="btn btn-primary btn-sm" href="#">
                                <i>
                                </i>
                                Kích hoạt
                            </a>
                            <a class="btn btn-info btn-sm" href="#">
                                <i>
                                </i>
                                Chi tiết
                            </a>
                            <a class="btn btn-danger btn-sm" href="#">
                                <i>
                                </i>
                                Hủy Đơn
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            8
                        </td>
                        <td>
                            20210812153
                        </td>
                        <td>
                            Nguyễn Hoàng Tùng
                        </td>
                        <td>
                            23/09/2021
                        </td>
                        <td>
                            112 Lê Thánh Tôn, Q.10, TP.HCM
                        </td>
                        <td>
                            1201000
                        </td>
                        <td class="project-actions text-right">
                            <a class="btn btn-primary btn-sm" href="#">
                                <i>
                                </i>
                                Kích hoạt
                            </a>
                            <a class="btn btn-info btn-sm" href="#">
                                <i>
                                </i>
                                Chi tiết
                            </a>
                            <a class="btn btn-danger btn-sm" href="#">
                                <i>
                                </i>
                                Hủy Đơn
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            9
                        </td>
                        <td>
                            20210812155
                        </td>
                        <td>
                            Ngô Thanh Hương
                        </td>
                        <td>
                            23/09/2021
                        </td>
                        <td>
                            112 Lê Thánh Tôn, Q.10, TP.HCM
                        </td>
                        <td>
                            375000
                        </td>
                        <td class="project-actions text-right">
                            <a class="btn btn-primary btn-sm" href="#">
                                <i>
                                </i>
                                Kích hoạt
                            </a>
                            <a class="btn btn-info btn-sm" href="#">
                                <i>
                                </i>
                                Chi tiết
                            </a>
                            <a class="btn btn-danger btn-sm" href="#">
                                <i>
                                </i>
                                Hủy Đơn
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            10
                        </td>
                        <td>
                            20210812157
                        </td>
                        <td>
                            Nguyễn Quang Hưng
                        </td>
                        <td>
                            23/09/2021
                        </td>
                        <td>
                            112 Lê Thánh Tôn, Q.10, TP.HCM
                        </td>
                        <td>
                            141000
                        </td>
                        <td class="project-actions text-right">
                            <a class="btn btn-primary btn-sm" href="#">
                                <i>
                                </i>
                                Kích hoạt
                            </a>
                            <a class="btn btn-info btn-sm" href="#">
                                <i>
                                </i>
                                Chi tiết
                            </a>
                            <a class="btn btn-danger btn-sm" href="#">
                                <i>
                                </i>
                                Hủy Đơn
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
