
@{
    ViewBag.Title = "DangBai";
}

<div class="block-wrapper">
    <div class="container mc">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <h1 class="content-title">
                    [Preview] Guardians Of The Galaxy Vol.3 Lấy Lại Niềm Tin Dành Cho Dòng Phim Siêu Anh Hùng
                </h1>
                <div class="content-text">
                    <p></p>
                    <p style="margin:0in 0in 8pt">
                        <span style="font-size:14px;">
                            <span style="font-family:Arial,Helvetica,sans-serif;">
                                <span style="line-height:107%">
                                    Xét các tác phẩm thuộc vũ trụ điện ảnh Marvel gần đây,
                                    <a href="#"><b>Vệ Binh Dải Ngân Hà 3</b></a>
                                    có chính sách bảo mật vô cùng tốt. Dù đã đến gần ngày công chiếu, đa số&nbsp;thông tin về nội dung phim vẫn chỉ gói gọn trong hai chữ “tin đồn”.
                                </span>
                            </span>
                        </span>
                    </p>
                    <p style="margin:0in 0in 8pt">
                        <span style="font-size:14px;">
                            <span style="font-family:Arial,Helvetica,sans-serif;">
                                <span style="line-height:107%">
                                    Dĩ nhiên, ngoài tin được chính người thuộc ekip xác nhận như
                                    <b>Zoe Saldana</b>
                                    và Dave Bautista sẽ tạm biệt nhân vật Gamora và Drax hay lấy Rocket Racoon làm trung tâm.
                                </span>
                            </span>
                        </span>
                    </p>
                    <p style="margin: 0in 0in 8pt; text-align: center;">
                        <span style="font-size:14px;">
                            <span style="font-family:Arial,Helvetica,sans-serif;">
                                <span style="line-height:107%">
                                    <img src="/Images/db1.jpg" />
                                </span>
                            </span>
                        </span>
                    </p>
                    <p style="margin:0in 0in 8pt">
                        <span style="font-size:14px;">
                            <span style="font-family:Arial,Helvetica,sans-serif;">
                                <span style="line-height:107%">
                                    Lận đận vì scandal của đạo diễn kiêm biên kịch James Gunn,
                                    <b>Guardians Of The Galaxy Vol.3</b>
                                    lùi ngày ra mắt rất lâu. Giờ đây, thương hiệu độc đáo nhất nhì MCU đang gánh trọng trách vô cùng nặng nề.
                                    <b>Vệ Binh Dải Ngân Hà 3</b>
                                    vừa thay lời James Gunn tạm biệt hãng Marvel vừa phải lấy lại lòng tin dành cho các siêu anh hùng Marvel nói riêng và các siêu anh hùng nói chung sau hàng loạt bộ phim chiếu rạp gây thất vọng dù ít dù nhiều.
                                </span>
                            </span>
                        </span>
                    </p>
                    <p style="margin:0in 0in 8pt">
                        <span style="font-size:14px;">
                            <span style="font-family:Arial,Helvetica,sans-serif;">
                                <span style="line-height:107%">
                                    <b>Thor: Love And Thunder</b>
                                    cũng “hài hước” như chuyện phim từng nhận đề cử Kĩ xảo xuất sắc nhất,
                                    <b>Black Panther: Wakanda Forever</b>
                                    thu gần 860 triệu $ vẫn chưa gọi là thành công,
                                    <b>Ant-Man And The Wasp: Quantumania</b>
                                    công chiếu ở thời điểm một mình một ngựa vẫn chẳng thể lên được doanh thu nửa tỷ đô. Marvel đã thế, người hàng xóm DC còn tệ hơn.
                                    <b>Shazam! Fury Of The Gods</b>
                                    thất bại thê thảm, thua cả tác phẩm cùng loại bị chế giễu suốt mấy năm gần đây –
                                    <b>Morbius</b>.
                                </span>
                            </span>
                        </span>
                    </p>
                    <p style="margin:0in 0in 8pt">
                        <span style="font-size:14px;">
                            <span style="font-family:Arial,Helvetica,sans-serif;">
                                <span style="line-height:107%">
                                    Dòng phim lôi cuốn công chúng toàn cầu từ sau
                                    <b>Iron Man</b>
                                    (2008) đang lâm nguy! Liệu
                                    <b>Vệ Binh Dải Ngân Hà 3</b>
                                    có giúp khán giả lần nữa đặt niềm tin và ra rạp? Đội dân phòng mở đường máu thành công để giúp
                                    <b>&nbsp; Flash</b>  (06.2023),
                                    <b>The Marvels</b> (11.2023) và
                                    <b>Aquaman And The Lost Kingdom</b> (12.2023) ra rạp thuận lợi?
                                </span>
                            </span>
                        </span>
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div id="getPromotion" ng-controller="registerEmailController" class="hidden-xs ng-scope">
                    <h3>Nhận khuyến mãi</h3>
                    <div class="box-promotion">
                        <form ng-submit="submit()" class="ng-pristine ng-valid-email ng-invalid ng-invalid-required">
                            <input placeholder="Email" type="email" ng-model="email" required="" class="login ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required" fdprocessedid="u7k34s">
                            <button class="btn primary input" fdprocessedid="mc4ni">đăng ký</button>
                        </form>
                    </div>
                </div>
                <div id="movieSidebar" class="hidden-xs">
                    <h3>Phim đang chiếu</h3>
                    <div class="row movies-group">
                        <div class="col-md-13 col-sm-12 col-xs-12 movie-item">
                            <div class="article-movie-home">
                                <img src="/Images/d1.jpg" class="loading" data-was-processed="true" />
                                <a href="#">
                                    <div class="decription-hover overlay">
                                        <div class="movies-content">
                                            <div class="group">
                                                <div class="btn secondary-white">mua vé</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-13 col-sm-12 col-xs-12 movie-item">
                            <div class="article-movie-home">
                                <img src="/Images/d2.jpg" class="loading" data-was-processed="true" />
                                <a href="#">
                                    <div class="decription-hover overlay">
                                        <div class="movies-content">
                                            <div class="group">
                                                <div class="btn secondary-white">mua vé</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-13 col-sm-12 col-xs-12 movie-item">
                            <div class="article-movie-home">
                                <img src="/Images/d3.jpg" class="loading" data-was-processed="true" />
                                <a href="#">
                                    <div class="decription-hover overlay">
                                        <div class="movies-content">
                                            <div class="group">
                                                <div class="btn secondary-white">mua vé</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                            <a href="#" class="btn secondary fl-right">XEM THÊM</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

