
@{
    ViewBag.Title = "Index";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Contacts</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Contacts</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card card-solid">
        <div class="card-body pb-0">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                    <div class="card bg-light d-flex flex-fill">
                        <div class="card-header text-muted border-bottom-0">
                            Sản Phẩm 1
                        </div>
                        <div class="card-body pt-0">
                            <div class="row">
                                <div class="col-7">
                                    <h3 class="lead">
                                        <b>
                                            Nội dung sản phẩm thứ nhất dùng để minh họa cho thông tin
                                            tóm lược về sản phẩm đây là thông tin lấy từ thộc tính tóm tắt nội dung
                                        </b>
                                    </h3>
                                </div>
                                <div class="col-5 text-center">
                                    <img src="/Areas/Assets/dist/img/19.jpg" alt="user-avatar" class="img-circle img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-right">
                                <a href="#" class="btn btn-sm bg-teal">
                                    <i class="fas fa-comments">Inactive</i>
                                </a>
                                <a href="#" class="btn btn-sm btn-primary">
                                    <i class="fas fa-user"></i> Modify
                                </a>
                                <a href="#" class="btn btn-danger btn-sm">
                                    <i class="fas fa-user"></i> Xóa
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                    <div class="card bg-light d-flex flex-fill">
                        <div class="card-header text-muted border-bottom-0">
                            Sản Phẩm 2
                        </div>
                        <div class="card-body pt-0">
                            <div class="row">
                                <div class="col-7">
                                    <h3 class="lead">
                                        <b>
                                            Nội dung sản phẩm thứ nhất dùng để minh họa cho thông tin
                                            tóm lược về sản phẩm đây là thông tin lấy từ thộc tính tóm tắt nội dung
                                        </b>
                                    </h3>
                                </div>
                                <div class="col-5 text-center">
                                    <img src="/Areas/Assets/dist/img/19.jpg" alt="user-avatar" class="img-circle img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-right">
                                <a href="#" class="btn btn-sm bg-teal">
                                    <i class="fas fa-comments">Inactive</i>
                                </a>
                                <a href="#" class="btn btn-sm btn-primary">
                                    <i class="fas fa-user"></i> Modify
                                </a>
                                <a href="#" class="btn btn-danger btn-sm">
                                    <i class="fas fa-user"></i> Xóa
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                    <div class="card bg-light d-flex flex-fill">
                        <div class="card-header text-muted border-bottom-0">
                            Sản Phẩm 3
                        </div>
                        <div class="card-body pt-0">
                            <div class="row">
                                <div class="col-7">
                                    <h3 class="lead">
                                        <b>
                                            Nội dung sản phẩm thứ nhất dùng để minh họa cho thông tin
                                            tóm lược về sản phẩm đây là thông tin lấy từ thộc tính tóm tắt nội dung
                                        </b>
                                    </h3>
                                </div>
                                <div class="col-5 text-center">
                                    <img src="/Areas/Assets/dist/img/19.jpg" alt="user-avatar" class="img-circle img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-right">
                                <a href="#" class="btn btn-sm bg-teal">
                                    <i class="fas fa-comments">Inactive</i>
                                </a>
                                <a href="#" class="btn btn-sm btn-primary">
                                    <i class="fas fa-user"></i> Modify
                                </a>
                                <a href="#" class="btn btn-danger btn-sm">
                                    <i class="fas fa-user"></i> Xóa
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                    <div class="card bg-light d-flex flex-fill">
                        <div class="card-header text-muted border-bottom-0">
                            Sản Phẩm 4
                        </div>
                        <div class="card-body pt-0">
                            <div class="row">
                                <div class="col-7">
                                    <h3 class="lead">
                                        <b>
                                            Nội dung sản phẩm thứ nhất dùng để minh họa cho thông tin
                                            tóm lược về sản phẩm đây là thông tin lấy từ thộc tính tóm tắt nội dung
                                        </b>
                                    </h3>
                                </div>
                                <div class="col-5 text-center">
                                    <img src="/Areas/Assets/dist/img/19.jpg" alt="user-avatar" class="img-circle img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-right">
                                <a href="#" class="btn btn-sm bg-teal">
                                    <i class="fas fa-comments">Inactive</i>
                                </a>
                                <a href="#" class="btn btn-sm btn-primary">
                                    <i class="fas fa-user"></i> Modify
                                </a>
                                <a href="#" class="btn btn-danger btn-sm">
                                    <i class="fas fa-user"></i> Xóa
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                    <div class="card bg-light d-flex flex-fill">
                        <div class="card-header text-muted border-bottom-0">
                            Sản Phẩm 5
                        </div>
                        <div class="card-body pt-0">
                            <div class="row">
                                <div class="col-7">
                                    <h3 class="lead">
                                        <b>
                                            Nội dung sản phẩm thứ nhất dùng để minh họa cho thông tin
                                            tóm lược về sản phẩm đây là thông tin lấy từ thộc tính tóm tắt nội dung
                                        </b>
                                    </h3>
                                </div>
                                <div class="col-5 text-center">
                                    <img src="/Areas/Assets/dist/img/19.jpg" alt="user-avatar" class="img-circle img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-right">
                                <a href="#" class="btn btn-sm bg-teal">
                                    <i class="fas fa-comments">Inactive</i>
                                </a>
                                <a href="#" class="btn btn-sm btn-primary">
                                    <i class="fas fa-user"></i> Modify
                                </a>
                                <a href="#" class="btn btn-danger btn-sm">
                                    <i class="fas fa-user"></i> Xóa
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                    <div class="card bg-light d-flex flex-fill">
                        <div class="card-header text-muted border-bottom-0">
                            Sản Phẩm 6
                        </div>
                        <div class="card-body pt-0">
                            <div class="row">
                                <div class="col-7">
                                    <h3 class="lead">
                                        <b>
                                            Nội dung sản phẩm thứ nhất dùng để minh họa cho thông tin
                                            tóm lược về sản phẩm đây là thông tin lấy từ thộc tính tóm tắt nội dung
                                        </b>
                                    </h3>
                                </div>
                                <div class="col-5 text-center">
                                    <img src="/Areas/Assets/dist/img/19.jpg" alt="user-avatar" class="img-circle img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-right">
                                <a href="#" class="btn btn-sm bg-teal">
                                    <i class="fas fa-comments">Inactive</i>
                                </a>
                                <a href="#" class="btn btn-sm btn-primary">
                                    <i class="fas fa-user"></i> Modify
                                </a>
                                <a href="#" class="btn btn-danger btn-sm">
                                    <i class="fas fa-user"></i> Xóa
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                    <div class="card bg-light d-flex flex-fill">
                        <div class="card-header text-muted border-bottom-0">
                            Sản Phẩm 7
                        </div>
                        <div class="card-body pt-0">
                            <div class="row">
                                <div class="col-7">
                                    <h3 class="lead">
                                        <b>
                                            Nội dung sản phẩm thứ nhất dùng để minh họa cho thông tin
                                            tóm lược về sản phẩm đây là thông tin lấy từ thộc tính tóm tắt nội dung
                                        </b>
                                    </h3>
                                </div>
                                <div class="col-5 text-center">
                                    <img src="/Areas/Assets/dist/img/19.jpg" alt="user-avatar" class="img-circle img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-right">
                                <a href="#" class="btn btn-sm bg-teal">
                                    <i class="fas fa-comments">Inactive</i>
                                </a>
                                <a href="#" class="btn btn-sm btn-primary">
                                    <i class="fas fa-user"></i> Modify
                                </a>
                                <a href="#" class="btn btn-danger btn-sm">
                                    <i class="fas fa-user"></i> Xóa
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                    <div class="card bg-light d-flex flex-fill">
                        <div class="card-header text-muted border-bottom-0">
                            Sản Phẩm 8
                        </div>
                        <div class="card-body pt-0">
                            <div class="row">
                                <div class="col-7">
                                    <h3 class="lead">
                                        <b>
                                            Nội dung sản phẩm thứ nhất dùng để minh họa cho thông tin
                                            tóm lược về sản phẩm đây là thông tin lấy từ thộc tính tóm tắt nội dung
                                        </b>
                                    </h3>
                                </div>
                                <div class="col-5 text-center">
                                    <img src="/Areas/Assets/dist/img/19.jpg" alt="user-avatar" class="img-circle img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-right">
                                <a href="#" class="btn btn-sm bg-teal">
                                    <i class="fas fa-comments">Inactive</i>
                                </a>
                                <a href="#" class="btn btn-sm btn-primary">
                                    <i class="fas fa-user"></i> Modify
                                </a>
                                <a href="#" class="btn btn-danger btn-sm">
                                    <i class="fas fa-user"></i> Xóa
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                    <div class="card bg-light d-flex flex-fill">
                        <div class="card-header text-muted border-bottom-0">
                            Sản Phẩm 9
                        </div>
                        <div class="card-body pt-0">
                            <div class="row">
                                <div class="col-7">
                                    <h3 class="lead">
                                        <b>
                                            Nội dung sản phẩm thứ nhất dùng để minh họa cho thông tin
                                            tóm lược về sản phẩm đây là thông tin lấy từ thộc tính tóm tắt nội dung
                                        </b>
                                    </h3>
                                </div>
                                <div class="col-5 text-center">
                                    <img src="/Areas/Assets/dist/img/19.jpg" alt="user-avatar" class="img-circle img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-right">
                                <a href="#" class="btn btn-sm bg-teal">
                                    <i class="fas fa-comments">Inactive</i>
                                </a>
                                <a href="#" class="btn btn-sm btn-primary">
                                    <i class="fas fa-user"></i> Modify
                                </a>
                                <a href="#" class="btn btn-danger btn-sm">
                                    <i class="fas fa-user"></i> Xóa
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <nav aria-label="Contacts Page Navigation">
                <ul class="pagination justify-content-center m-0">
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#">6</a></li>
                    <li class="page-item"><a class="page-link" href="#">7</a></li>
                    <li class="page-item"><a class="page-link" href="#">8</a></li>
                </ul>
            </nav>
        </div>
        <!-- /.card-footer -->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
